h1 {
    font-size: 34px;
    margin-bottom: 8px;
}

nav a, h1 a {
    color: inherit;
    text-decoration: inherit;
}

ol {
    margin-block-start: 0;
}

p {
    font-size: 1rem;
}

table {
    margin: 25px 0 0 0;
    width: 100%;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul > li {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

ul > li:before {
    content: "";
    padding-right: 0;
}
