h1 {
    font-size: 34px;
    margin-bottom: 8px;
}

nav a, h1 a {
    color: inherit;
    text-decoration: inherit;
}

ol {
    margin-block-start: 0;
}

p {
    font-size: 1rem;
}

table {
    margin: 25px 0 0 0;
    width: 100%;
}

ul {
    list-style: none;
}

ul > li {
    text-indent: -1em;
}

ul > li:before {
    content: "-";
    padding-right: 5px;
}

.app {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
}
