body {
    font: 1rem "Bitter" ;
    font-weight: lighter;
}

body > * {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.Art {
    position: absolute;
    z-index: -99;
}

h3, h4, b {
    font-weight: normal;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

#root {
    height: 100%;
}