span {
  color: gray;
  font: 12px "Raleway", light;
  position: static;
  z-index: 1;
}
img {
  size: auto;
}
.Description {
  width: 50%;
}
.Image {
  width: 40%;
}
.Project {
  width: 100%;
}
table {
  width: 100%;
}
