.dates {
    color: gray;
    font: 12px "Raleway", light;
    position: static;
    z-index: 1;
}

.Experience {
    position: absolute;
}

.highlights {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}
