body {
    font: 1rem "Computer Modern Serif";
    font-weight: lighter;
}

body > * {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.art {
    position: absolute;
    z-index: -99;
}

h3, h4, b {
    font-weight: normal;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    height: 100%;
}

table {
    margin: 25px 0 0 0;
    width: 100%;
}

h1 {
    font-size: 34px;
    margin-bottom: 8px;
}

nav a, h1 a {
    color: inherit;
    text-decoration: inherit;
}

ol {
    margin-block-start: 0;
}

p {
    font-size: 1rem;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul > li {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

ul > li:before {
    content: "";
    padding-right: 0;
}
