body {
  font: 14px "Century Gothic", Futura, sans-serif;
}
div {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 34px;
  margin-bottom: 8px;
}
.navbar {
  border-style: double none;
  font-family: 'Cutive Mono', monospace;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.navbar a {
  color: #111;
  text-decoration: none;
}
.Blob {
  bottom: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
}
.Cell {
  background: #ccc;
  position: absolute;;
}
